var date = new Date();
var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();
module.exports = {
    base : 'https://forsight.crimsonhexagon.com/api/',
    params : '?version=3&start=2011-01-01&end='+year+'-'+month+'-' + day,
    user : '{username}',
    pass : '{password}',
    debug : true
};
