.brand {
    font-family: 'Arvo';
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.table tbody th {
    font-weight: initial;
}

h3 {
    line-height: 25px;
}

p label, label.chart {
    width: 40%;
    float: left;
}

.row-fluid .no-gutter {
  margin-left: 0;
  margin-right: 0;
}

#senBar {
    width: 100%;
    margin-bottom: 25px;
}

#senBar .senPos, #senBar .senNeu,#senBar .senNeg {
    float: left;
    height: 100%;
}

#senBar .senPos {
    background-color: rgb(143, 172, 101);
}

#senBar .senNeu {
    background-color: rgb(216, 210, 196);
}

#senBar .senNeg {
    background-color: rgb(195, 0, 0);
}

#senBar .individualPiece
{
    float: left;
    height: 30px;
}

#senBar .square{
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 6px;
}

.big-label {
    font-size: 6;
    font-weight: bold;
}
.small-label {
    font-size: 4;
    font-weight: bold;
}
.tooltip {
    background-color:rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
}
.chOneBarPositive, 
.chOneBarNeutral, 
.chOneBarNegative {
    height: 30px;
    float: left;
    cursor: pointer;
}
.chOneBarPositive {
    background: rgb(143, 172, 101);
}
.chOneBarNeutral {
    background: rgb(216, 210, 196);
    margin: 0 1%;
}
.chOneBarNegative {
    background: rgb(195, 0, 0);
}
.chOneBarPositiveText, 
.chOneBarNeutralText, 
.chOneBarNegativeText {
    float: left;
    font-weight: bold;
    margin: 10px 0;
}
.chOneBarPositiveText span, 
.chOneBarNeutralText span, 
.chOneBarNegativeText span {
    font-size: 1.6em;
    color: #333;
    font-weight: bold;
}
.chOneBarPositiveText span span, 
.chOneBarNeutralText span span, 
.chOneBarNegativeText span span {
    color: #a9a9a9;
    font-size: 1em;
}
.chOneBarPositiveText {
    color: #8fac65;
    width: 33%;
}
.chOneBarNeutralText {
    margin: 10px 1%;
    color: #666;
    width: 31%;
    text-align: center;
}
.chOneBarNegativeText {
    color: #c30000;
    width: 33%;
    text-align: right;
}
#mentions
{
    overflow-y: auto;
    height: 275px;
}

