<div class="row-fluid">

    <div class="span12">
        
    	<h3><%= name %></h3>

        <small>ID: <%= id %></small>

        <hr />

    </div>

    <div class="clearfix"></div>

    <div class="span4 no-gutter">

        <h4>General Information</h4>

        <hr />

        <p><%= description %></p>

        <p><label><strong>Type:</strong></label>&nbsp;&nbsp;&nbsp;<%= type %></p>

        <p><label><strong>Enabled:</strong></label>&nbsp;&nbsp;&nbsp;<%= enabled %></p>

        <p><label><strong>Results Start:</strong></label>&nbsp;&nbsp;&nbsp;<%= resultsStartDisplay %></p>

        <p><label><strong>Results End:</strong></label>&nbsp;&nbsp;&nbsp;<%= resultsEndDisplay %></p>

        <p><label><strong>Tags:</strong></label>&nbsp;&nbsp;&nbsp;<%= tags %></p>

        <p style="margin-top: 40px;"><a href="#monitors">&larr; Back to All Monitors</a></p>

    </div>

    <div class="span4">

        <h4>Visualizations</h4>

        <hr />

        <p>Pie Charts!  Bar Graphs!</p>

    </div>

    <div class="span4">

        <h4>Recent Tweets</h4>

        <hr />

        <div id="allPosts">
        </div>

    </div>

</div>
