<div class="row-fluid">

    <div class="span6">
        
    	<h3><%= name %></h3>

        <small>ID: <%= id %></small>

    </div>

    <div class="span3 offset3">

        <p style="margin-top: 25px;text-align: right;"><a href="#monitors">&larr; Back to All Monitors</a></p>

    </div>

    <div class="clearfix"></div>

    <hr />

    <div class="clearfix"></div>

    <div class="span4 no-gutter">

        <ul class="nav nav-pills">
          <li id="genButton" class="active"><a style="cursor:pointer">General Information</a></li>
          <li id="filButton"><a style="cursor:pointer">Filter</a></li>
          <li id="statButton"><a style="cursor:pointer">Monitor Statistics</a></li>
        </ul>

        <div id="generalInformation">

            <h4>General Information</h4>

            <hr />

            <p><%= description %></p>

            <p><label><strong>Type:</strong></label>&nbsp;&nbsp;&nbsp;<%= type %></p>

            <p><label><strong>Enabled:</strong></label>&nbsp;&nbsp;&nbsp;<%= enabledDisplay %></p>

            <p><label><strong>Results Start:</strong></label>&nbsp;&nbsp;&nbsp;<%= resultsStartDisplay %></p>

            <p><label><strong>Results End:</strong></label>&nbsp;&nbsp;&nbsp;<%= resultsEndDisplay %></p>

            <p><label><strong>Tags:</strong></label>&nbsp;&nbsp;&nbsp;<ul id="allTags" style="margin-bottom: 40px"></ul >

            <div class="clearfix"></div></p>

        </div>

        <div id="monResults" style="margin-bottom: 25px;"></div>

        <div id="filter">

            <h4>Filter</h4>

            <hr />

            <p><small><strong>Sources</strong> (<a id="selectAllSources" style="cursor: pointer;">Select All</a> / <a id="deselectAllSources" style="cursor: pointer;">Deselect All</a>)</small></p>
            <div class="span6 no-gutter">
                <p><input class="source" type="checkbox" value="Twitter" / >
                    &nbsp;&nbsp;&nbsp;Twitter
                </p>
                <p><input class="source" type="checkbox" value="Facebook" / >
                    &nbsp;&nbsp;&nbsp;Facebook
                </p>
                <p><input class="source" type="checkbox" value="Instagram" / >
                    &nbsp;&nbsp;&nbsp;Instagram
                </p>
                <p><input class="source" type="checkbox" value="YouTube" / >
                    &nbsp;&nbsp;&nbsp;YouTube
                </p>
                <p><input class="source" type="checkbox" value="Google Plus" / >
                    &nbsp;&nbsp;&nbsp;Google Plus
                </p>
                <p><input class="source" type="checkbox" value="Weibo" / >
                    &nbsp;&nbsp;&nbsp;Weibo
                </p>
            </div>
            <div class="span6 no-gutter">
                <p><input class="source" type="checkbox" value="Forums" / >
                    &nbsp;&nbsp;&nbsp;Forums
                </p>
                <p><input class="source" type="checkbox" value="Blogs" / >
                    &nbsp;&nbsp;&nbsp;Blogs
                </p>
                <p><input class="source" type="checkbox" value="Comments" / >
                    &nbsp;&nbsp;&nbsp;Comments
                </p>
                <p><input class="source" type="checkbox" value="News" / >
                    &nbsp;&nbsp;&nbsp;News
                </p>
                <p><input class="source" type="checkbox" value="Reviews" / >
                    &nbsp;&nbsp;&nbsp;Reviews
                </p>

            </div>

            <div class="clearfix" ></div>

            <p style="margin-top: 15px">
                <small>
                    <strong>Custom Filter</strong> 
                    <a id="filters" 
                        style="cursor:pointer;" 
                        data-toggle="popover"
                        data-content="
                            <ul>
                                <li>author</li>
                                <li>authorRank</li>
                                <li>category</li>
                                <li>keywords</li>
                                <li>language</li>
                                <li>location</li>
                                <li>gender</li>
                                <li>site</li>
                                <li>type</li>
                            </ul>
                        ">

                        (View All Possible Filters)

                    </a>
                </small>
            </p>
            <p>
            <textarea id="filterText" style="width: 100%;height: 40px"></textarea>
            <div class="clearfix"></div>
            <input id="clearFilter" type="submit" value="Reset Filter"  />
            <input id="filterButton" type="submit" value="Run Filter"  />
            </p>

            <p style="margin-top: 15px;"><small><strong>Example Filter</strong></small></p>
            <p><pre>gender:M|location:USA|language:en,fr</pre></p>
            <p><small><strong>Note:</strong> Use | to separate filters</small></p>

        </div>

    </div>

        <div class="span6">

            <h4>Visualizations</h4>

            <hr />

            <div id="charts"></div>

        </div>

        <div class="span2">

            <h4>Recent Mentions</h4>

            <hr />

            <div id="allPosts">
            </div>

        </div>

    </div>

</div>